body {
  background-color: blue;
}

img {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  background-color: rgb(226, 243, 193);
}

p {
  margin: 0px;
  border: 0px;
  border-width: 0px;
  background-color: blueviolet;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
